@charset "UTF-8";

 body {
    background-color: rgb(83, 183, 216);
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}
h1 {
    color: rgb(168, 99, 233);
    background-color: rgb(156, 184, 230);
}
h2 {
    color: brown;
}
p {
    text-align:justify ;
}

