@charset "UTF-8";

/*
em HTML é id = em CSS # (só pode um elemento)
em HTML é class = em CSS é . (pode vários elementos)


*/
body {
    background-color: rgb(147, 155, 221);
}

h1 {
    color: rgb(6, 21, 163);
}

h1#principal {
    text-align: center;
    background-color: rgb(10, 10, 115);
    color: white;
}

h2 {
color: rgb(6, 12, 136);
}

.basico {
    color: rgb(41, 41, 203);
}

.intermediario {
    color: rgb(123, 34, 211);
}

.avancado {
    color: rgb(202, 36, 217);
}

.destaque {
 background-color: rgba(215, 79, 109, 0.704);
}